.heading
{
  font-size: 23px;
  width: 95%;
  margin: 0px;
}
.note
{
  font-size: 15px;
  color: black;
}
body
{
  background-size: cover;	
}
  #Song
  {
  	font-size: 23px;
  	margin: 15px;
  }
    Canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px #73cfd8;
  }